html body {
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  // background-color: #6797BE;
  text-align: center;
  color: $gray-lighter;
}
h1 {
  background: $transp-black;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.icon {
  width: 20px;
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/*========================================
Language buttons on home page
========================================*/
.language{
  min-height: 4vh;
}

.language_button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  padding: 5px;
  color: $white;
  font-style: italic;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 2%;
  margin-top: -1vh;
}
.shown:hover {
  color: $black;
  background: rgba(255,255,255,0.25);
}

.shownOther {
  background: rgba(255,255,255,0.25);
}



/*========================================
phone input
========================================*/

.intl-tel-input {
  color: $black;
}

/*========================================
Links
========================================*/
// TODO: check utility of each block

a:focus,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

a:focus, a:hover {
  text-decoration: none;
}

.btn.active, .btn:active,
.form-control,
.form-control:focus,
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn,
.form-control,
.progress {
  border-radius: 0;
}

/* browser reset */

button:focus {
  outline: 0;
}

/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.doctor-image {
  background: url('http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef0168ebacc6fc970c-600wi') no-repeat 0 0 scroll;
  background-size: 100% 100%;
  min-height:50vh;
  width:100%;
  max-width:1200px;
  margin: auto;
  display:block;
}

.thirty-perc {
  min-height: 30vh;
}

.office {
  background: url("http://www.latricedesigns.com/wp-content/uploads/2013/11/Red-Wall-Inspiring-Doctor-Office-Design-Ideas-Front-Side-915x599.jpg") no-repeat 0 0 scroll;
}
.road {
  background: url("http://ak-hdl.buzzfed.com/static/2015-06/23/18/enhanced/webdr11/enhanced-13427-1435099391-10.jpg") no-repeat 0 0 scroll;
}
.sign2pay {
  background: url("http://sign2pay.com/wp-content/uploads/whatissign2payscreen.png") no-repeat 0 0 scroll;
}
.practician-home {
  background: url("http://magnyficent.com/magnyficent/images/practician-home.png") no-repeat 0 0 scroll;
}

.full-square-image {
  height: 50vh;
  background-size: 100% 100%;
}

.full-square-image-margin {
  height: 50vh;
  background-size: 100% 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.full-square-image-padded-top {
  height: 50vh;
  background-size: 100% 70%;
}

/*========================================
Placement and padding
========================================*/
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}
.mini-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}
.bottom-padded {
  padding-bottom: 1em;
}
.top-of-page {
  top:0;
  margin-top:0;
  margin-bottom: 0.5em
}

/*========================================
Colors
========================================*/

.transp-black{
  background: $transp-black;
}
// TODO eliminate redundancy
.title-row {
  background: $transp-black;
}

.white-border{
  border:1px solid $white;
}
.black-border{
  border:1px solid $black;
}

.white {
 background-color: $white;
 color: $blue;
}
.blue {
 background-color: $blue;
 color: $white;
}

.black-text-shadow {
  text-shadow: 1px 1px 1px $black, 3px 3px 2px $blue;
}

.black-text-shadow-simple {
  text-shadow: 1px 1px 1px $black;
}


.gradient-footer{
  background-image: -o-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -moz-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, $black), color-stop(0.62, $blue));
  background-image: -webkit-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -ms-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: linear-gradient(bottom, $black 24%, $blue 62%);
  position:relative;
  bottom:0;
  margin-bottom:0;
}


.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

