/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.title-image {
  background: url('http://thepaperwall.com/wallpapers/digital_artwork/big/big_cd087e49e35bb8ad8602e429dcdae08cff226bfc.jpg');
  background-size: 100% 100%;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  margin:0;
  display:block;
}

.full-square-image {
  background-size: 100% 100%;
  max-height:80vh;
}
.rounded-inline{
  border-radius: 20px;
  padding: 3px 2px 1px 2px;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 70%;
}

.timeline {
  top:0;
  color:$purple;
  z-index:1000;
}
.timeline a{
  color:$white;
}
.timeline a:hover, a:focus{
  color:$purple;
}

