@import "home";

html body {
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  // background-color: #6797BE;
  text-align: center;
  color: $gray-lighter;
}
h1 {
  background: $transp-black;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.icon {
  width: 20px;
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/*========================================
Language buttons on home page
========================================*/
.language{
  min-height: 4vh;
}

.language_button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  padding: 5px;
  color: $white;
  font-style: italic;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 2%;
  margin-top: -1vh;
}
.shown:hover {
  color: $black;
  background: rgba(255,255,255,0.25);
}

.shownOther {
  background: rgba(255,255,255,0.25);
}



/*========================================
phone input
========================================*/

.intl-tel-input {
  color: $black;
}

/*========================================
Links
========================================*/
// TODO: check utility of each block

a:focus,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

a:focus, a:hover {
  text-decoration: none;
}

.btn.active, .btn:active,
.form-control,
.form-control:focus,
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn,
.form-control,
.progress {
  border-radius: 0;
}

/* browser reset */

button:focus {
  outline: 0;
}

/*========================================
Notices
========================================*/

.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
