@import "home";

html body {
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  // background-color: #6797BE;
  text-align: center;
  color: $gray-lighter;
  background: linear-gradient(to right bottom, $purple 0%, $red 100%);
   // -webkit-font-size: 23px;
   // -webkit-font-smoothing: subpixel-antialiased;
  position:relative;
}

html body > .container {
  min-height: 98vh;
}
h1 {
  background: $transp-black;
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-weight: 400;
  max-width:500px;
  margin-right: auto;
  margin-left: auto
}
.justify{
  text-align:justify;
}

.icon {
  width: 20px;
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

footer {
  font-size:20px;
}


.language_button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  padding: 5px;
  color: $white;
  font-style: italic;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 2%;
  // margin-top: -1vh;
  margin-top:2px;
  margin-bottom:1px;
  z-index:101;
}


/*========================================
phone input
========================================*/

.intl-tel-input {
  color: $black;
}
.clinician-input {
  color: $black;
}

/*========================================
Links
========================================*/
// TODO: check utility of each block

a:focus,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
  color:$purple;
}

a:focus, a:hover {
  text-decoration: none;
}

.btn.active, .btn:active,
.form-control,
.form-control:focus,
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn,
.form-control,
.progress {
  display:inline-block;
  margin: 0 auto;
  border-radius: 0;
  min-width:30%;
  background: $baby-blue;
  color:$white;
  font-weight:bold;
  text-transform: uppercase;
  margin-top:0.5em;
  margin-bottom:1em;
}
.btn-red{
  background: $red;
}

.btn:hover{
  background:  $white;
  color:$purple;
}

/* browser reset */

button:focus {
  outline: 0;
}
