<footer class="gradient-footer-white top-margin">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <div class="col-xs-4">
      <%= link_to "", "https://www.twitter.com/antoinetheman", :target => "_blank", :class => "fa fa-twitter" %>
      <!-- <i class="fa fa-twitter"></i> -->
    </div>

    <div class="col-xs-4">
      <%= link_to "", "https://be.linkedin.com/in/antoinemagny", :target => "_blank", :class => "fa fa-linkedin" %>
      <!-- <i class="fa fa-twitter"></i> -->
    </div>

    <div class="col-xs-4">
      <%= link_to "", "https://www.facebook.com/antoine.magny", :target => "_blank", :class => "fa fa-facebook" %>
      <!-- <i class="fa fa-twitter"></i> -->
    </div>
  </div>
  <div class="col-xs-4"></div>
</footer>
