/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/*========================================
Placement and padding
========================================*/
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}
.mini-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}
.bottom-padded {
  padding-bottom: 1em;
}
.top-of-page {
  top:0;
  margin-top:0;
  margin-bottom: 0.5em
}

/*========================================
Colors
========================================*/

.transp-black{
  background: $transp-black;
}
// TODO eliminate redundancy
.title-row {
  background: $transp-black;
}

.white-border{
  border:1px solid $white;
}
.black-border{
  border:1px solid $black;
}

.white {
 background-color: $white;
 color: $blue;
}
.blue {
 background-color: $blue;
 color: $white;
}

.black-text-shadow {
  text-shadow: 1px 1px 1px $black, 3px 3px 2px $blue;
}

.black-text-shadow-simple {
  text-shadow: 1px 1px 1px $black;
}


.gradient-footer{
  background-image: -o-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -moz-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, $black), color-stop(0.62, $blue));
  background-image: -webkit-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -ms-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: linear-gradient(bottom, $black 24%, $blue 62%);
  position:relative;
  bottom:0;
  margin-bottom:0;
}


.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

