/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/*========================================
Placement and padding
========================================*/
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}
.mini-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}
.bottom-padded {
  padding-bottom: 1em;
}
.top-margin {
  margin-top: 1em;
}
.top-of-page {
  top:0;
  margin-top:0;
  margin-bottom: 0.5em
}
.full-width {
  width:100%;
}
.full-height {
  height:100%;
}
.img-fit-parent{
  position:relative;
  max-height:100%;
  max-width:100%;
}
.smaller{
  width:70%;
  height:70%;
  max-height:500px;
  max-width:500px;
}
.bottom {
  bottom:0;
}
.relative {
  position:relative;
}
.screen-size{
  height:100vh;
  width:100%;
}
.middle-of-div{
  top:35%;
  min-height:10%;
  position: relative;
  vertical-align: middle;
}
.max-one-screen{
  max-height: 95vh;
}
.min-sixty{
  min-height: 60vh;
}

.thirty-perc {
  min-height: 30vh;
}
.centered{
  margin: auto;
  max-height: 95%;
}
.red a{
  color:$red;
  margin-top:0.5em;
  margin-bottom:1em;
}

/*========================================
Colors
========================================*/
.transp-black{
  background: $transp-black;
}
// TODO eliminate redundancy
.title-row {
  background: $transp-black;
}

.white-border{
  border:1px solid $white;
}
.black-border{
  border:1px solid $black;
}

.white {
 background-color: $white;
 color: $blue;
}
.blue {
 background-color: $blue;
 color: $white;
}

.black-text-shadow {
  text-shadow: 1px 1px 1px $black, 3px 3px 2px $blue;
}

.black-text-shadow-simple {
  text-shadow: 1px 1px 1px $black;
}



.gradient-footer{
  background-image: -o-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -moz-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, $black), color-stop(0.62, $blue));
  background-image: -webkit-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: -ms-linear-gradient(bottom, $black 24%, $blue 62%);
  background-image: linear-gradient(bottom, $black 24%, $blue 62%);
  position:relative;
  bottom:0;
  margin-bottom:0;
}
.gradient-footer-white{
  background-image: -o-linear-gradient(bottom, $white 24%, $blue 62%);
  background-image: -moz-linear-gradient(bottom, $white 24%, $blue 62%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, $white), color-stop(0.62, $blue));
  background-image: -webkit-linear-gradient(bottom, $white 24%, $blue 62%);
  background-image: -ms-linear-gradient(bottom, $white 24%, $blue 62%);
  background-image: linear-gradient(bottom, $white 24%, $blue 62%);
  position:relative;
  bottom:0;
  margin-bottom:0;
}


.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

